<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='/favicon.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit-3.9.4/css/uikit.min.css') }}">
    <title>HTML Scraper</title>
</head>

<body>
    <div>
        <form action="/" method="POST">
            <div class="uk-navbar-container" id="top">
                <div class="uk-navbar uk-position-fixed uk-position-top uk-box-shadow-medium uk-background-muted uk-flex-inline">
                    <a class="uk-button uk-button-secondary" href="#top" uk-scroll>UP</a>
                    <input class="uk-input uk-form-width-large uk-text-medium" type="text" name="url" id="idurl"
                        autocomplete="off" placeholder="Page address" value="{{ url }}">
                    <input class="uk-input uk-form-width-medium uk-text-medium" type="text" name="tag" id="idtag"
                        autocomplete="off" placeholder="HTML Tag">
                    <input readonly class="uk-input uk-form-width-medium uk-text-medium" type="text" name="attribute"
                        id="idattribute" autocomplete="off" placeholder="Tag Attribute">
                    <input readonly class="uk-input uk-form-width-medium uk-text-medium" type="text" name="value"
                        id="idvalue" autocomplete="off" placeholder="Attribute Value">
                    <input id="idbutton" type="submit" class="uk-button uk-button-danger uk-text-medium" name="approve"
                        value="submit" onclick="return empty()">
                </div>
            </div>
            <br>
            <h3 class="uk-text-success uk-margin-small-left">{{ used_tags }}</h3>
            <div class="uk-margin-small-top">
                <ul class="uk-text-break">
                    {% for tag in list_tag %}
                    <li>{{ tag }}</li>
                    {% endfor %}
                    {% for tag in value_list %}
                    <li>{{ tag }}</li>
                    {% endfor %}
                    {% for tag in name_list %}
                    <li>{{ tag }}</li>
                    {% endfor %}
                    {% for tag in dead_links %}
                    <li><a href="{{ tag }}" target="_blank" style="color: #ef5350;">{{ tag }}</a></li>
                    {% endfor %}
                    {% for tag in hyperlinks %}
                    <li><a href="{{ tag }}" target="_blank" style="color: #42a5f5;">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </form>
    </div>

    <script>
        let title = document.getElementById("idtitle");
        let field1 = document.getElementById("idtag");
        let field2 = document.getElementById("idattribute");
        let field3 = document.getElementById("idvalue");

        field1.addEventListener("input", () => {
            let field2 = document.getElementById("idattribute");
            if (field1.value.length > 0) {
                field2.removeAttribute("readonly")
            } else {
                field2.value = "";
                field3.value = "";
                field2.setAttribute("readonly", true);
                field3.setAttribute("readonly", true);
            }
        })

        field2.addEventListener("input", () => {
            let field3 = document.getElementById("idvalue");
            if (field2.value.length > 0) {
                field3.removeAttribute("readonly")
            } else {
                field3.setAttribute("readonly", true);
                field3.setAttribute("readonly", true)
            }
        })

        title.addEventListener("click", () => {
            document.getElementById("idurl").value = title.innerText.trim();
        })

        function empty() {
            let url = document.getElementById("idurl").value;
            if (url.length == 0) {
                alert("Invalid URL..");
                return false;
            } else {
                //
            }
        }
    </script>
</body>

</html>