<!DOCTYPE html>
<html lang="en" style="overflow-y:scroll;">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='/favicon.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit-3.9.4/css/uikit.min.css') }}">
    <title>HTML Scraper</title>

</head>

<body>

    <div>
        <form action="/" method="POST">
            <div class="uk-section uk-section-primary uk-section-xsmall uk-text-center uk-width-1-1 uk-align-center uk-box-shadow-medium">
                <h1 id="home" class="uk-text-bold">Web-Scraper</h1>
                <input class="uk-input uk-form-width-large uk-text-medium uk-align-center uk-margin-small-bottom" type="text" name="url"
                    id="idurl" autocomplete="off" placeholder="URL" value="{{ url }}" style="color: whitesmoke">
                <div class="uk-container uk-text-center uk-margin-small-bottom" id="top">
                    <input class="uk-input uk-form-width-small uk-text-medium uk-margin-small-bottom" type="text" name="tag" id="idtag"
                        autocomplete="off" placeholder="Tag" style="color: whitesmoke">
                    <input readonly class="uk-input uk-form-width-small uk-text-medium uk-margin-small-bottom" type="text" name="attribute"
                        id="idattribute" autocomplete="off" placeholder="Attribute" style="color: whitesmoke">
                    <input readonly class="uk-input uk-form-width-small uk-text-medium uk-margin-small-bottom" type="text" name="value"
                        id="idvalue" autocomplete="off" placeholder="Value" style="color: whitesmoke">
                </div>
                <input id="idbutton" type="submit" class="uk-button uk-button-default uk-text-medium uk-align-center"
                    name="approve" value="submit" onclick="return empty()">
            </div>
    </div>
    <div></div>
    <div id="results" class="uk-section uk-section-default uk-section-xsmall uk-text-left uk-width-1-1 uk-width-1-2@m uk-align-center uk-box-shadow-medium">
        <ol id="ol" class="uk-text-break uk-margin-small-left uk-margin-small-right">
            {% for tag in list_tag %}
            <li>{{ tag }}</li>
            {% endfor %}
            {% for tag in value_list %}
            <li>{{ tag }}</li>
            {% endfor %}
            {% for tag in name_list %}
            <li>{{ tag }}</li>
            {% endfor %}
            {% for tag in dead_links %}
            <li><a href="{{ tag }}" target="_blank" style="color: #ef5350;">{{ tag }}</a></li>
            {% endfor %}
            {% for tag in hyperlinks %}
            <li><a href="{{ tag }}" target="_blank" style="color: #42a5f5;">{{ tag }}</a></li>
            {% endfor %}
        </ol>
    </div>
    </form>
    <span class="uk-label uk-label-success uk-position-fixed uk-position-bottom-right">{{ used_tags }}</span>
    </div>

    <script>
        const field1 = document.getElementById("idtag");
        const field2 = document.getElementById("idattribute");
        const field3 = document.getElementById("idvalue");
        const results = document.getElementById("results");

        field1.addEventListener("input", () => {
            if (field1.value.length > 0) {
                field2.removeAttribute("readonly");
            } else {
                field2.value = "";
                field3.value = "";
                field2.setAttribute("readonly", true);
                field3.setAttribute("readonly", true);
            }
        })

        field2.addEventListener("input", () => {
            if (field2.value.length > 0) {
                field3.removeAttribute("readonly");
            } else {
                field3.setAttribute("readonly", true);
                field3.setAttribute("readonly", true);
            }
        })

        function empty() {
            let url = document.getElementById("idurl").value;
            if (url.length == 0) {
                alert("Invalid URL..");
                return false;
            } else {
                //
            }
        }

        if (document.getElementById('ol').getElementsByTagName('li').length >= 1) {
            results.removeAttribute("hidden");
        } else {
            results.setAttribute("hidden", true);
        }

    </script>

</body>

</html>