<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='/favicon.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>HTML Scraper</title>
</head>

<body>
    <div class="fullContainer">
        <form action="/" method="POST">
            <div class="container1">
                <ul>
                    {% for tag in list_tag %}
                    <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
            </div>
            <h2 id="idtitle">&nbsp;{{ url }}&nbsp;</h2>
            <div class="container2">
                <input class="inputField" type="text" name="url" id="idurl" autocomplete="off"
                    placeholder="URL Address">
                <br>
                <input class="inputField2" type="text" name="tag" id="idtag" autocomplete="off" placeholder="HTML Tag">
                <input readonly class="inputField2" type="text" name="attribute" id="idattribute" autocomplete="off"
                    placeholder="CSS Attribute">
                <input readonly class="inputField2" type="text" name="value" id="idvalue" autocomplete="off"
                    placeholder="CSS Attribute Value">
                <br>
                <input id="idbutton" type="submit" class="approveButton" name="approve" value="Search"
                    onclick="return empty()">
                <p>{{ used_tags }}</p>
            </div>
        </form>
    </div>
    <script>
        let title = document.getElementById("idtitle");
        let field1 = document.getElementById("idtag");
        let field2 = document.getElementById("idattribute");
        let field3 = document.getElementById("idvalue");


        field1.addEventListener("input", () => {
            let field2 = document.getElementById("idattribute");
            if (field1.value.length > 0) {
                field2.removeAttribute("readonly")
            } else {
                field2.value = "";
                field3.value = "";
                field2.setAttribute("readonly", true);
                field3.setAttribute("readonly", true);
            }
        })

        field2.addEventListener("input", () => {
            let field3 = document.getElementById("idvalue");
            if (field2.value.length > 0) {
                field3.removeAttribute("readonly")
            } else {
                field3.setAttribute("readonly", true);
                field3.setAttribute("readonly", true)
            }
        })

        title.addEventListener("click", () => {
            document.getElementById("idurl").value = title.innerText.trim();
        })

        function empty() {
            let x;
            url = document.getElementById("idurl").value;
            if (url.length == 0) {
                alert("Invalid URL..");
                return false;
            } else {
                //
            }
        }
    </script>
</body>

</html>